ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 2em;
}

label, input, textarea {
    display: block;
}

input[type=text], textarea {
    white-space: nowrap;
    width: 300px;
}

p {
    margin: 0;
    font-size: 0.8em;
}

.max-length-exceeded {
    color: red;
}